
<div class="flex-container">
  <div class="flex-item">
    <div class="input-group mb-3">
      <input type="text" class="form-control col-xs-2" placeholder="event id">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">JOIN</button>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="flex-item">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addEvent()">Create Event</button>
        </div>
      </div>
    </div>
  </div>
</div>


